body{
    background-image: url("../bilder/background2.jpg") ;
    
}

.menuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.menuli {
    float: left;
}
.menuli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 42px;
    text-decoration: none;
}
.menuli2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 42px;
    text-decoration: none;
}
.active {
    background-color: #FF5731;
}
.menuli a:hover {
    background-color: #9B4430;
}

.whitebox{

    background: url("../bilder/text-background.png");
    width:720px;
    height:680px;
    top:500px;
    left:500px;
    border:black solid;
    border-radius: 15px;
    margin:0 auto;
    margin-top:20px;
}
.whiteboxchild{
    position: absolute;
    opacity: 1;
}
.welcometext{
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    color: orange;
    -webkit-text-stroke: 1px black;
    font-size: 46px;
}
p{
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size:15px;
    padding:20px;
}
.allt{
    float:left;
    display: flex;
}

